.footer {
  margin-top: auto;
}
.copyright {
  font-size: 1.2rem;
  color: var(--color-light--1);
}

.sidebar {
  flex-basis: 56rem;
  background-color: var(--color-dark--1);
  height: calc(100vh - 5rem);
  padding: 3rem 5rem;
  padding-bottom: 3.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}
